.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 250px;
  img.pull-left {
    width: 150px;
  }
}

.spacer {
  margin-top: 40px; /* define margin as you see fit */
}

// injector
// endinjector
