.thumbnail {
    height: 250px;
}

.thumbnail img.pull-left {
    width: 121px;
}

.thumbnail img.pull-right {
    max-height: 150px;
}

.divider {
    padding: 10px;
}

.price {
    font-size: 20pt;
}

body {
    background-color: #000;
    font-family: 'ringbearermedium';
}

a {
    color: #580A01;
    text-decoration: none;
    transition: text-shadow 0.5s ease-out;
}

a:hover {
    color: #580A01;
    text-shadow: 0 0 14px #E8D7B9, 1px 25px 18px #feec85, 5px -20px 17px #ffae34, -18px -12px 35px #ec760c, 11px 0px 54px #cd4606, 0 0 9px #973716, 10px 0px 80px #451b0e;
    transition: text-shadow 0.5s ease;
}

h2 {
    color: #9D9D9D;
}

.jumbotron {
    background: url('../../assets/images/lotr-bg.jpg') no-repeat black -104px -48px;
    color: #BE7521;
    min-height: 431px;
}

.jumbotron h1, .jumbotron .lead, .jumbotron p {
    text-shadow: 1px 1px 11px rgba(255, 160, 53, 1);
}

.jumbotron h1 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 20px #22211F, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
}

@font-face {
    font-family: 'ringbearermedium';
    src: url('../fonts/RINGM___-webfont.eot');
    src: url('../fonts/RINGM___-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/RINGM___-webfont.woff2') format('woff2'),
    url('../fonts/RINGM___-webfont.woff') format('woff'),
    url('../fonts/RINGM___-webfont.ttf') format('truetype'),
    url('../fonts/RINGM___-webfont.svg#ringbearermedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.navbar-inverse {
    background-color: #580A01;
}

.btn-danger {
    color: #fff;
    background-color: #580A01;
    border-color: #d43f3a;
}

.panel-default > .panel-heading {
    color: #9D9D9D;
    background-color: #580A01;
    border-color: #9D9D9D;
}

.panel-body {
    padding: 15px;
    background: #302E28;
    color: #9D9D9D;
}

.bg-reverse {
    color: #580A01;
    text-align: center;
}

.img-thumbnail {
    border: none;
}

.btn-success, .btn-success:focus {
    background-color: #54451D;
    border-color: #000000;
}

.btn-success:hover, .btn-success:active {
    background-color: #272724;
    border-color: #000000;
}

.label-info {
    background-color: #141519;
    color: #efefef;
    padding: 10px;
}
